@(company: Multiverse)

<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Bloomberg.sexy: @company.stockName</title>
		<meta name="description" content="HACKNY Hack by Abdi, Nick and Tom" />
		<meta name="author" content="HACKNY Bloomberg.sexy" />
		<link rel="shortcut icon" href="/images/favicon.png">
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/default.css")" />
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/component.css")" />
		<script src="@routes.Assets.at("js/modernizr.custom.js")"></script>
	</head>
	<body>
		<div class="container">

			<header class="clearfix">
				<img src="@routes.Assets.at("images/logo.png")">
				<h1>@company.stockName</h1>
				<form role="form">
					<div class="form-group">
                                		<input type="text" class="form-control" placeholder="Search..." required>
                                		<input type="submit" class="btn btn-default" value="Search">
                                	</div>
				</form>
			</header>	
			<ul class="cbp-rfgrid">
				<!-- Twitter -->
				<li> @for(tweet <- company.tweets) { @tweet <br><br> }</li>
				<li><img src="@company.giphyURL"></li>
				<li>@Html(company.wikiSnippet)</li>

			</ul>
		</div>
	</body>
</html>
