@(company: Multiverse)

<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Bloomberg.sexy: @company.stockName</title>
		<meta name="description" content="HACKNY Hack by Abdi, Nick and Tom" />
		<meta name="author" content="HACKNY Bloomberg.sexy" />
		<link rel="shortcut icon" href="/images/favicon.png">
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/default.css")" />
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/component.css")" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")" />
		<script src="@routes.Assets.at("js/jquery.min.js")"></script>
		<script src="@routes.Assets.at("js/bloodhound.min.js")"></script>
		<script src="@routes.Assets.at("js/typeahead.jquery.min.js")"></script>
		<script src="@routes.Assets.at("js/typeahead.bundle.min.js")"></script>
		<script>
			$(document).ready(function() {
				var companies = new Bloodhound({
				    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Name'),
				    queryTokenizer: Bloodhound.tokenizers.whitespace,
				    limit: 100,
				    prefetch: {
				      url: '@routes.Assets.at("js/companies.json")'
				    }
				});
				companies.initialize();
				$('#prefetch .typeahead').typeahead({
	        		highlight: true,
	        		hint: true
	      		}, {
	        		name: 'companies',
	        		displayKey: 'Name',
	        		source: companies.ttAdapter(),
	        		templates: {
			          empty: ['<div class="empty-message">', 'unable to find any teams that match the current query', '</div>'].join('\n'),
			          suggestion: function(datum) {
			            return "<p class='search'></p><a href='/" + datum.Symbol + "'><p>" + datum.Name + "</span></p></a>";
			          }
	        		}
	      		});
	      	});
		</script>

	</head>
	<body>
		<nav class="navbar" role="navigation">
  			<div class="container-fluid">
    				<div class="navbar-header">
      					<a class="navbar-brand" style="color:#fff" href="#">Bloomberg.sexy</a>
    				</div>
    				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<div id="prefetch">
	  					<input class="typeahead" type="text" placeholder="Search Companies..">
					</div>
    				</div>
  			</div>
		</nav>
		<div class="container">
			<header class="clearfix">
				<h1>@company.stockName</h1>
				<h3>PRICE: $@company.lastPrice</h3>
			</header>
		</div>
		<div class="col-md-12">

			<ul class="cbp-rfgrid">
				<li class="app" style="overflow:scroll !important">
					<!-- Twitter -->
					@for(tweet <- company.tweets) { <blockquote><p>@tweet</p></blockquote>}
				</li>
				<li class="app">
					<!-- BitCoin -->
					<h1>Here's the bitcoin price:@company.bitcoinPrice</h1>
				</li>
				<li class="app">
					<!--GIF-->
					<img src=@company.giphyURL height="300px" width="300px">
				</li>
				<li class="app">
					<p>@Html(company.wikiSnippet)</p>
				</li>
				<li class="app">
					<h4>Reddit comment on company</h4><h5>@company.redditComment</h5>
				</li>
				<li class="app">
					<h4>@company.movieString</h4>
					@for( movie <- company.movieList) {
						<p>@movie</p>
					}
				</li>
			</ul>
		</div>
	</body>
</html>
